.footer {
  margin-top: 23px;
  padding: 12px;
}

.footer__main-statistics {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}

.main-statistics__heading {
  font-size: 24px;
  color: var(--color-gray);
}

.main-statistics__numbers {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
}

.main-statistics__right-block {
  color: var(--color-gray);
  font-size: 24px;
}

.main-statistics__number-of-online {
  color: var(--color-green);
}

.footer__additional-info {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}

.additional-info__left-block {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 400;
}

.additional-info__name {
  color: var(--color-lime);
}

.additional-info__right-block {
  font-size: 17px;
  font-weight: 400;
  color: var(--color-gray);
}

.aditional-info__developed {
  color: var(--color-white);
}

#designed-by {
  margin-top: 15px;
  color: var(--color-gray);
  opacity: 0.5;
  text-align: center;
}
