@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "min.css";
@import "main-page.css";
@import "shared.css";
@import "topics.css";
@import "post.css";
@import "header.css";
@import "footer.css";
@import "loader.css";
@import "media.css";
@import "404.css";
@import "about.css";
@import "activity.css";

body {
  font-family: var(--ff-squada);
  background: #091320;
  font-weight: 400;
  padding: 20px;
  min-height: 100vh;
}
